.parallax-container .header {
    text-shadow: 2px 2px .25rem #263238
}

#sign-up-view {
    margin-top: -70px
}

.white-text .input-field input[disabled=disabled], .white-text .input-field input[disabled=disabled] + label, .white-text .input-field input[readonly=readonly], .white-text .input-field input[readonly=readonly] + label {
    color: hsla(0, 0%, 100%, .26) !important
}

body {
    background-color: red
}

hr.divider {
    border: 0
}

.card.sticky-action .card-reveal.large-buttons {
    z-index: 1;
    padding-bottom: 115px
}

.transition {
    -webkit-transition: width .5s;
    transition: width .5s
}

.col.s6 .large [data-progress], .col.s12 .large [data-progress] {
    margin: 0 auto;
    height: 360px;
    max-width: 360px;
    position: relative
}

.small [data-progress] {
    margin: 1em auto;
    height: 100px;
    width: 100px;
    position: relative
}

[data-progress] .progressbar-text {
    font-size: 2em;
    line-height: 2em
}