module.exports = {
    AppName        : 'Words',
    // your oauth client id
    client_id      : '',
    //your oauth client secret'
    client_secret  : '' ,
    // api hostname
    apiDomain      : '' ,
    anonymous      : {
        'username'  : 'Anonymous',
        'anonymous' : true
    },
    pager          : {
        pageSize  : 10,
        firstPage : 1
    },
    get apiEndpoint()    { return this.apiDomain + '/api' },
    get loginUrl(){ return this.apiDomain   + '/oauth/v2/token' },
    get userInfoUrl() { return  this.apiEndpoint + '/user-info' },
    get signUpUrl() { return this.apiEndpoint + '/account/register' },
    get userProfileUrl() { return apiEndpoint + '/user-info/profile' }
};

